---
import { OG } from '@innoflex-technology/og-schema';

const projectId = "02158fba-ae81-4dc0-a0ed-dcb3328db369"
const projectKey = "63374ec2-5c01-4dea-9317-4ed368c50e50"
const client = new OG(projectId, projectKey)
const posts:any = await client.ListRecords('blog_post');
const tags = [...new Set(posts.Items.map((post:any) => post.tags).flat())];
const pageTitle = "Tag Index";
---
<><h1>{pageTitle}</h1>
    <div>{tags.map((tag) => <p>{tag}</p>)}</div>
</>